p{
  height: 50px;
  padding: 30px;
  width: 25%;
  display:inline-block;
  display: inline
}

.banderaAmarilla {
  background-color: #F7B617;
}

.banderaNegra {
  background-color: black;
  color: white;
}
